# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Pub lockfile - include for applications, exclude for libraries
pubspec.lock

# Coverage
coverage/

# IDE
.idea/
*.iml
.vscode/
